{% extends 'base.html' %}
{% block content %}
<h1 class="uk-heading-small">
    Student {{ student }}
    <a class="uk-align-right" uk-tooltip="Edit" href="{% url 'student_update' student.id %}"><span uk-icon="file-edit"></span></a>
    <a class="uk-align-right" uk-tooltip="Delete" href="{% url 'student_delete' student.id %}"><span uk-icon="minus-circle"></span></a>
</h1>

<div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
{% for grade in student.grades %}
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">{{ grade.student }} <span class="uk-badge uk-align-right">{{ grade }}</span></h3>
            <p>
                <span uk-icon="mail"></span> {{ grade.student.email }}
            </p>
            <p>
                <span uk-icon="history"></span> {{ grade.student.year }}
            </p>
            <p>
                <span uk-icon="file-text"></span> {{ grade.course.name }}
            </p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
