{% extends 'base.html' %}
{% block content %}
<h1 class="uk-heading-small">
    Student {{ student }}
    <a class="uk-align-right" uk-tooltip="Edit Student" href="{% url 'student_update' student.id %}"><span uk-icon="file-edit"></span></a>
    <a class="uk-align-right" uk-tooltip="Delete Student" href="{% url 'student_delete' student.id %}"><span uk-icon="minus-circle"></span></a>
</h1>
<h2><span uk-icon="mail"></span> {{ student.email }}</h2>
<h2><span uk-icon="history"></span> {{ student.year }}</h2>

<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>Course</th>
            <th>Grade</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for grade in student.grades %}
        <tr>
            <td>{{ grade.course.name }}</td>
            <td>{{ grade }}</td>
            <td><a uk-tooltip="Edit Grade" href="{% url 'grade_update' grade.student.id %}"><span uk-icon="file-edit"></span></a></td>
            <td><a uk-tooltip="Delete Grade" href="{% url 'grade_delete' grade.student.id %}"><span uk-icon="minus-circle"></span></a></td>
        </tr>
{% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><a uk-tooltip="Create Grade" href="{% url 'grade_create' %}"><span uk-icon="plus-circle"></span></a></td>
        </tr>
    </tfoot>
</table>
{% endblock %}
