<form class="uk-form-horizontal" method="post">
  {% csrf_token %}
  <div class="uk-text-danger">
    {{ form.non_field_errors }}
  </div>

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    <div class="uk-text-danger">
      {{ hidden_field.errors }}
    </div>
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="uk-margin">
    <label uk-tooltip="title: {{ field.help_text }}" class="uk-form-label">{{ field.label_tag }}</label>
    <div class="uk-form-controls">
        {{ field }}
        <div class="uk-text-danger">
            {{ field.errors }}
        </div>
    </div>
    </div>
  {% endfor %}
<br />
{% if submit_label %}
  <button class="uk-button uk-button-primary" type="submit">{{ submit_label }}</button>
{% else %}
  <button class="uk-button uk-button-primary" type="submit">Save</button>
{% endif %}
{% if cancel_url %}
  <a class="uk-button uk-button-default" href="{{ cancel_url }}">Cancel</a>
{% endif %}
</form>